/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* line 5, ../../app/assets/stylesheets/channels.css.scss */
.new_channel_link {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 11, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry {
  margin-top: 10px;
  border-bottom: 1px dotted;
}
/* line 14, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry:hover {
  background: cyan;
}
/* line 19, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry .channel_name {
  display: block;
}
/* line 22, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry .channel_name h3 {
  float: left;
}
/* line 26, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry .channel_name .channel_operations {
  float: right;
}
/* line 31, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry .channel_description {
  padding-left: 10px;
}
/* line 33, ../../app/assets/stylesheets/channels.css.scss */
#channel_list .channel_entry .channel_description span {
  font-style: italic;
}

/* line 40, ../../app/assets/stylesheets/channels.css.scss */
.article {
  border-bottom: 1px dotted;
  margin-top: 20px;
}
/* line 44, ../../app/assets/stylesheets/channels.css.scss */
.article .article_title {
  background-color: cyan;
  padding: 5px 0px 5px 0px;
}
/* line 49, ../../app/assets/stylesheets/channels.css.scss */
.article .article_title .article_title_text {
  float: left;
  font-weight: bold;
  font-size: 13px;
  padding-left: 5px;
}
/* line 56, ../../app/assets/stylesheets/channels.css.scss */
.article .article_title .article_pubDate {
  float: right;
  padding-right: 5px;
}
/* line 62, ../../app/assets/stylesheets/channels.css.scss */
.article .article_image {
  border: 1px solid gray;
  padding: 2px;
  float: left;
  margin-top: 10px;
}
/* line 69, ../../app/assets/stylesheets/channels.css.scss */
.article .article_content {
  padding-top: 20px;
  padding-left: 5px;
}
/* line 74, ../../app/assets/stylesheets/channels.css.scss */
.article .article_operations {
  margin-bottom: 10px;
}
/* line 76, ../../app/assets/stylesheets/channels.css.scss */
.article .article_operations ul {
  margin: 0px;
  padding: 0px;
}
/* line 79, ../../app/assets/stylesheets/channels.css.scss */
.article .article_operations ul li {
  display: inline;
  border-right: 1px solid gray;
  margin-left: 10px;
  padding-right: 7px;
}
/* line 84, ../../app/assets/stylesheets/channels.css.scss */
.article .article_operations ul li.last {
  border: none;
}
/* line 1, ../../app/assets/stylesheets/global.css.scss */
.clear_float {
  clear: both;
}

/* line 7, ../../app/assets/stylesheets/global.css.scss */
#notice {
  background-color: #00ff64;
  padding: 10px;
  position: relative;
  border: 1px solid;
}
/* line 13, ../../app/assets/stylesheets/global.css.scss */
#notice .clear_notice_icon {
  position: absolute;
  right: 5px;
  top: 0px;
  color: red;
  cursor: pointer;
}

/* line 23, ../../app/assets/stylesheets/global.css.scss */
.actions input[type=submit] {
  border: 1px solid #ce7201;
  background-position: 0 -60px;
  background-color: #fcd791;
  font-weight: 700;
}
/* line 7, ../../app/assets/stylesheets/posts.css.scss */
.post_title_field {
  border: 1px solid #5a1464;
  width: 300px;
  height: 20px;
  padding: 8px 5px;
  font-size: 14pt;
}

/* line 15, ../../app/assets/stylesheets/posts.css.scss */
.post_content_field {
  border: 1px solid #5a1464;
  width: 90%;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}

/* line 29, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 34, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 51, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 61, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
