<h1>Login</h1>

<% if @login_error_msg %>
<div class="errors">
	<%= @login_error_msg %>
</div>
<% end %>

<%= form_tag login_path do |f|  %>
	<p>
		<label>Username:</label><br />
		<input type="text" name="username" />
    </p>
    <p>
    	<label>Password:</label><br />
    	<input type="password" name="password" />
    </p>
    <p>
    	<%= submit_tag 'Login' %>
    </p>
<% end %>