// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_channel_link {
  margin-top: 30px;
  margin-bottom: 30px;
}

#channel_list {
  .channel_entry {
  	margin-top: 10px;
    border-bottom: 1px dotted;
    &:hover {
      background: cyan;
    }

    
    .channel_name {
      display: block;

      h3 {
      	float: left;
      }

      .channel_operations {
      	float: right;
      }
    }

    .channel_description {
      padding-left: 10px;
      span {
      	font-style: italic;
      }
    }
  }	
}

.article {
  border-bottom: 1px dotted;
  margin-top: 20px;

  .article_title {
    background-color: cyan;
    padding: 5px 0px 5px 0px;
    

    .article_title_text {
      float: left;
      font-weight: bold;
      font-size: 13px;
      padding-left: 5px;
    }

    .article_pubDate {
      float: right;
      padding-right: 5px;
    }
  }

  .article_image {
    border: 1px solid gray;
    padding: 2px;
    float: left;
    margin-top: 10px;
  }

  .article_content {
    padding-top: 20px;
    padding-left: 5px;
  }

  .article_operations {
    margin-bottom: 10px;
    margin-top: 10px;
    ul {
      margin: 0px;
      padding: 0px;
      li {
       display: inline;
       border-right: 1px solid gray;
       margin-left: 10px;
       padding-right: 7px;
       &.last {
         border: none;
       }
      }
    }
  }
}